html{
    scroll-behavior: smooth;
}

h1, h2, a{
    color: white;
}

body{
    background-image: url("/portfolio/assets/img/bg-header.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.container, #contact{
    text-align: center;
    margin-top: 300px;
}
